<div class="column">
    <h2 class="title pb-4">Login:</h2><hr>
<form class="login-form" onsubmit="event.preventDefault();">
    <div>
        <label for="email-login">Email:</label>
        <input type="text" id="email-login" />
    </div>
    <div>
    <label for="password-login">Password:</label>
    <input type"password" id="password-login" />
    </div>
    <div>
        <button type="submit" class="button is-primary">Login</button>
        <button type="button is-danger" onclick='location.href="/signup";'>Signup</button>
    </div>
</form>
</div>

<script src="/javascrypt/login.js"></script>